.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
}
.header-main {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    height: 12vh;
}

.header-icon {
    display: flex;
    justify-content: center;
    min-width: 20vw;;
    padding: 0;
}

.header-search-bar {
    margin: 4.5vh 3.5vw;
    display: flex;
}

.search-button {
    width: 27px;
}

.search-button-icon {
    height: 10px;
}

.header-sub-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    border-bottom: 1px solid gray;
    padding-bottom: 1vh;
}

.sub-menu-items {
    color: black;
    font-size: small;
    text-decoration: none;
    margin: 1vh 2.5vw;
}

.sub-menu-items:hover {
    transform: scale(1.3);
    transition: all 1s;
}

.header-main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icon {
    height: 3.5vh;
    margin: 0 2vw;
}

.nav-icon:hover {
    transform: scale(1.3);
    transition: all 1s;
}